<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Find Summoner</title>
</head>
<body>
<form class="row g-0" th:fragment="find-summoner" id="find-summoner-form">
    <div class="col">
        <input type="text" class="form-control rounded-0 rounded-start" placeholder="Summoner Name" id="summoner-name">
    </div>
    <div class="col-2 col-xl-1">
        <select class="form-select rounded-0" id="server-select">
            <option value="euw" selected>EUW</option>
            <option value="eune">EUNE</option>
            <option value="na">NA</option>
        </select>
    </div>
    <div class="d-grid col-2 col-xl-1">
        <button class="btn btn-outline-secondary rounded-0 rounded-end" type="submit">Search</button>
    </div>
    <script src="/static/js/find-summoner.js" th:src="@{/js/find-summoner.js}"></script>
</form>
</body>
</html>