<!DOCTYPE html>
<html lang="en">
<head th:fragment="head" th:with="title=${title}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} ?: #{web.title.default}"/>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link href="/static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

</body>
</html>