.form-control:focus {
    outline:0;
    border-color:inherit;
    box-shadow:none!important;
}

.form-select:focus {
    outline:0;
    border-color:inherit;
    box-shadow:none!important;
}

#spinner {
    display:none;
}

#spinner.show {
    display:block;
}