<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title th:text="#{web.home.title}"></title>
</head>
<body>
<section layout:fragment="main-content">
    <div id="main">
        <div class="bg-secondary py-3 rounded-2 col-12">
            <div class="d-flex flex-column align-items-center">
                <h3 class="" th:text="#{web.home.supportstolemyblue.stats.header}"/>
            </div>
        </div>
        <div class="spinner show text-center" id="spinner">
            <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js" th:src="@{/js/index.js}"></script>
</section>
</body>
</html>